<div class="flex flex-col w-full items-center justify-center h-screen px-64 relative">
    <h2 class="text-6xl font-bold w-fit m-0 p-0 relative">About</h2>
    <p>Hello there! My name is Carissa Fabellina. At the moment I’m a 3rd year undergraduate computer science student in Bina Nusantara University (or  BINUS in short) who’s majoring in Intelligent Systems. I have keen interest in data-related fields & software engineering and I’m really eager to learn more and apply my skill in these fields. </p>

    <div>

    </div>
</div>

<style>
    h2::before{
        position: absolute;
        background-color: #FBDD7F;
        width: 100%;
        height: 80%;
        bottom: -0.5vw;
        left: -0.5vw;
        content: '';
        z-index: -1;
    }
</style>