---
import CustomButton from "./CustomButton.astro";
import ArrowDownIcon from "./icons/ArrowDownIcon.astro";
---

<div class="flex flex-col w-full items-center justify-center h-screen px-32 relative">
    <div class="flex flex-col justify-center w-full">
        <h1 class="text-8xl font-bold">Carissa Fabellina</h1>
        <p class="font-light text-xl mt-2 mb-8">Data Enthusiast & UI/UX Designer</p>
        <CustomButton text="Download CV"/>
    </div>
    
    <ArrowDownIcon className="w-10 absolute bottom-32 animate-bounce-slow"/>
</div>