---
const {title, imgUrl} = Astro.props
---

<div>
    <div class="container rounded-xl">
        <img class="flex" src={imgUrl} alt="">
    </div>

    <h3>{title}</h3>
</div>

<style>
    *{
        transition: all ease-in-out .3s;
    }

    .container {
        background: rgb(241,241,241);
        background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(218,218,218,1) 100%);
        //background: rgb(241,241,241);
        //background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(127,183,208,1) 100%);
        //background: rgb(255,255,255);
        //background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(127,183,208,1) 100%);
        //background: rgb(255,255,255);
        //background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,221,127,1) 100%);
        transition: transform ease-in-out .3s;
        overflow: hidden;
    }

    .container:hover img{
        transform: scale(1.1);
        //transition: all ease-in-out .3s;
    }
</style>