---
const {title, index} = Astro.props;
---
<div class="border rounded-xl px-6 py-4 w-[32%]">
    <!--<h3 class="index font-light text-xl rounded-full after:aspect-square">{index}</h3>-->
    <div class="bg-light-blue rounded-full w-12 h-12 flex justify-center items-center mb-10">
        <h3 class="font-light text-lg text-white">{index.toString().padStart(2, '0')}</h3>
    </div>
    <h3 class="font-light text-2xl">{title}</h3>
    <slot/>
</div>