---
import skillsData from "../data/skills.json";
import SkillsCard from "./SkillsCard.astro";
---

<div class="grid md:grid-cols-3 grid-cols-1 w-full justify-between gap-5">
    {skillsData.map((skill, index) => {
        return(
                <SkillsCard title={skill.title} index={index+1}>
                    <div class="flex flex-wrap gap-2 md:mt-4 mt-1">
                        {skill.techs.map(tech => {
                            return (
                                    <span class="w-fit font-light md:text-base text-sm bg-dark-blue text-white px-2 py-1 rounded-md">{tech}</span>
                            )
                        })}
                    </div>

                </SkillsCard>
        )
    })}
</div>